.root-nav {
  background: #224957;
  padding: 1rem 3rem;
}

.root-nav img {
  border-radius: 5px;
}

.root-nav button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1rem;
  top: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #224957;
  cursor: pointer;
}
