/* table content box */

.table--content--box {
  z-index: 5;
  height: 61vh;
  width: 100%;
  display: inline-block;
  overflow: auto;
  background: #fff;
}

/* mobile view */

@media screen and (max-width: 500px) {
  .table--content--box {
    height: 72vh;
  }
}

/* upper bar in middle container box*/

.upper--bar {
  width: 100%;
  height: auto;
  margin: 2.5rem 0 4rem 0;
  /* display: inline-block; */
  display: flex;
  gap: 5rem;
  position: relative;
}

/*Logo svg*/

/* .logo {
  height: 3.2rem;
  left: 32px;
  position: absolute;
  top: 37px;
  width: 3.2rem;
}

/*Logo text*/

/*.logo--text {
  color: var(--color--font--primary);
  font-size: 1.9rem;
  font-weight: 700;
  height: 2.4rem;
  left: 76px;
  letter-spacing: 0.4px;
  margin: 0;
  opacity: 0.7;
  position: absolute;
  top: 41px;
  width: 4.7rem;
  user-select: none;
} */

/* .header {
  align-items: center;
  display: inline-flex;
  height: 6rem;
  margin-top: 22px;
}

.header--back--btn {
  background: #363740;
  width: 3rem;
  height: 2.7rem;
  border-radius: 100%;
  padding: 8px;
  position: absolute;
  left: 40px;
  cursor: pointer;
} */

/* mobile view */

/* @media screen and (max-width: 500px) {
  .header--back--btn {
    display: none;
  }
}

.header--title {
  color: var(--color--heading--title);
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin: 0;
  user-select: none;
}

.header--sub--title {
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
  display: inline-block;
  position: absolute;
  right: 9rem;
  user-select: none;
}

/* mobile view */

/* @media screen and (max-width: 500px) {
  .header--sub--title {
    position: absolute;
    top: 8.5rem;
    left: 5.5rem;
  }
}

.header--logo {
  display: inline-block;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50px;
  margin-bottom: 12px;
  position: absolute;
  right: 40px;
} */

/* mobile view */

/* @media screen and (max-width: 500px) {
  .header--logo {
    position: absolute;
    top: 7.5rem;
    left: 0.5rem;
  }
} */

/* Sidebar Button */

/* .sidebar--btn {
  display: none;
} */

/* mobile view */

/* @media screen and (max-width: 500px) {
  .sidebar--btn {
    display: inline-block;
    position: absolute;
    right: 2rem;
    border: 0;
    background: 0;
  }
} */

/* Upper Bar Heading in Middle Container box */
.container--box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
}
@media screen and (max-width: 500px) {
  .container--box {
    width: 100%;
    border-radius: 0;
    height: 81vh;
  }
}

.upper--bar--title {
  display: inline-block;
  font-weight: 700;
  font-size: 1.9rem;
  letter-spacing: 0.4px;
  color: var(--color--heading--title);
  /* width: 35%; */
  margin-left: 2rem;
  user-select: none;
}

/* mobile view */

@media screen and (max-width: 500px) {
  .upper--bar--title {
    display: none;
  }
}

/* Upper Bar Search Box in Middle Container box */

.upper--bar--searchBox {
  display: inline-block;
  height: 2.5rem;
  width: 75%;
  border-radius: 25px;
  background: -webkit-linear-gradient(
    to top,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: 20px;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
}

/* mobile view */

@media screen and (max-width: 500px) {
  .upper--bar--searchBox {
    width: 80%;
    margin-left: 1rem;
  }
}

/* Upper Bar Search BOX in Middle Container box */

.search--box {
  display: inline-block;
  width: 35%;
}

/* mobile view */

@media screen and (max-width: 500px) {
  .search--box {
    width: 53.5%;
  }
}

/* Upper Bar SortBy BOX in Middle Container box */

.upperbar--sortBy--box {
  display: inline-block;
  width: 20%;
}

/* mobile view */

@media screen and (max-width: 500px) {
  .upperbar--sortBy--box {
    width: 30%;
  }
}

/* Upper Bar SVG in Middle Container box */

.upperBar--svg {
  display: inline-block;
  margin-right: 5px;
}

/* Upper Bar Sort By in Middle Container box */

.upperBar--sortBy {
  width: 15rem;
  border: 0;
  font-weight: 600;
  font-size: 1.4rem;
  color: #4b506d;
}

/* mobile view */

@media screen and (max-width: 500px) {
  .upperBar--sortBy {
    width: 70%;
  }
}

/* Upper Bar Filter button in Middle Container box */

.upperBar--subtitle {
  display: inline-block;
  font-weight: 600;
  font-size: 1.4rem;
  color: #4b506d;
  user-select: text;
  cursor: pointer;
  background: 0;
  user-select: none;
  padding: 0;
}

/* Filter Box */

.filter--box--layerTwo {
  height: auto;
  width: 98.9%;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  background-color: #fff;
  top: 5rem;
}

.filter--box {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 5.5rem;
  width: 90%;
  border: 1px solid #dedee0;
  padding: 1.5rem 0 1.5rem 1rem;
  border-radius: 0.3rem;
  position: relative;
}

.filterbox--innerLayer {
  display: inline-flex;
  align-items: center;
}

.filterbox--innerLayerTwo {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
}

.field {
  display: inline-block;
  height: 2rem;
  background: #bff5da;
  border: 1px solid #dedee0;
  border-radius: 0.3rem;
  margin-right: 2rem;
  padding-left: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #757575;
}

.fld--one {
  width: 25%;
}

.fld--two {
  width: 20%;
  height: 2.5rem;
}

.fld--three {
  width: 15%;
  height: 2.5rem;
}

.fld--four {
  width: 15%;
  height: 2.5rem;
}

.fld--five {
  width: 25%;
}

.fld--six {
  height: 2.5rem;
  width: 15%;
}

/* Filter Labels */

.filter--label {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--color--heading--title);
  cursor: pointer;
  margin-right: 1rem;
}

/* input fields */

.fields--btn {
  display: inline-block;
  width: 9.6rem;
  height: 2.7rem;
  border-radius: 0.3rem;
  background: #224957;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  margin-right: 1rem;
  position: absolute;
  bottom: 7px;
  right: 0;
  font-size: 1.4rem;
}

/* Filter box in Mobile view  */

@media screen and (max-width: 500px) {
  .field {
    margin: 0;
    margin-right: 1rem;
  }

  .filter--label {
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  .fields--btn {
    width: 7rem;
    height: 1.7rem;
    font-size: 1rem;
  }

  .fld--one {
    width: 20%;
    height: 1.3rem;
  }

  .fld--one::placeholder {
    font-size: 0.8rem;
  }

  .fld--two {
    width: 15%;
    height: 1.5rem;
  }

  .fld--three {
    width: 10%;
    height: 1.5rem;
  }

  .fld--four {
    width: 10%;
    height: 1.5rem;
  }

  .fld--five {
    height: 1.3rem;
    width: 20%;
  }

  .fld--five::placeholder {
    font-size: 0.8rem;
  }

  .fld--six {
    height: 1.5rem;
    width: 10%;
  }
}

/* TABLE */

.table--content {
  width: 100%;
  height: auto;
}

/* Table Title */

.table--title {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
  color: #9fa2b4;
  text-align: left;
  padding: 0 2rem 0 2rem;
  user-select: none;
  border-bottom: 1px solid #dfe0eb;
}

/* Table headings */

.th--detail {
  color: #fff;
}

/* mobile view */

@media screen and (max-width: 500px) {
  .th--post {
    display: none;
  }
  .th--gender {
    display: none;
  }
  .th--phone {
    display: none;
  }
  .th--email {
    display: none;
  }
  .th--detail {
    display: none;
  }
}

/*<td> table data*/

.tableData {
  width: auto;
  height: 7.5rem;
  font-weight: 600;
  font-size: 14px;
  padding: 0 2rem 0 2rem;
  color: var(--color--heading--title);
  border-bottom: 1px solid #dfe0eb;
}
.tableData img {
  width: 25%;
  height: 75%;
  padding: 1rem;
}

/* mobile view */

@media screen and (max-width: 500px) {
  .tableData {
    padding: 0;
  }
  .td--post {
    display: none;
  }
  .td--gender {
    display: none;
  }
  .td--phone {
    display: none;
  }
  .td--email {
    display: none;
  }
  .td--detail {
    text-align: end;
  }
}

.table--svg {
  display: inline-block;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50px;
  margin-right: 3rem;
}

/* mobile view */

@media screen and (max-width: 500px) {
  .table--svg {
    margin-right: 1rem;
    margin-left: 1.5rem;
  }
}

.td--name {
  display: flex;
  align-items: center;
}

/* table button option */

.table--btn {
  width: 9.6rem;
  height: 2.7rem;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
  border: 0;
  background: -webkit-linear-gradient(
    to top,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #29ffc6,
    #20e3b2,
    #0cebeb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 2.5rem;
  color: #ffffff;
  cursor: pointer;
}

/* middle screen view */

@media screen and (min-width: 501px) and (max-width: 1110px) {
  .container--box {
    width: 100%;
    border-radius: 0;
    height: 81vh;
  }

  .sidebar {
    position: fixed;
    right: -260px;
    height: 100vh;
  }

  .right--outer--layer {
    width: 100%;
  }

  .sidebar--btn {
    display: inline-block;
    position: absolute;
    right: 2rem;
    border: 0;
    background: 0;
  }

  .footer--sidebar,
  .btn--close {
    display: flex;
  }

  .upper--bar--title {
    width: 30%;
  }

  .search--box {
    width: 30%;
  }

  .upperBar--sortBy {
    width: 10rem;
  }

  .header--sub--title {
    position: absolute;
    top: 8.5rem;
    left: 5.5rem;
  }

  .header--logo {
    position: absolute;
    top: 7.5rem;
    left: 0.5rem;
  }

  .header--back--btn {
    display: none;
  }
}
